.employee-header {
    background-color: var(--main-panel-bg);
    flex: 1;
    border-bottom: 0.1px solid var(--main-panel-input-border);
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        li {
            color: white;
            list-style-type: none;
            border: 0.2px solid var(--main-panel-input-border);
            padding: 1.52rem;
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                background-color: var(--main-panel-header-bg);
            }
        }
    }
}

.active {
    background-color: var(--main-panel-header-bg);
}