<h1>Hello! Welcome to the V-HR. Web application built by <a href="https://www.pavlepaunovic.com" target="_blank">Pavle Paunovic</a></h1>
<p>Guide:</p>
<ol>
    <li>
        Enter Name And Surname and press button Add employee to add new employee
    </li>
    <li>
        You can search employee in input bellow List of Employees
    </li>
    <li>
        Click on the employee name to open the form
    </li>
    <li>
        Enter the data in the form
    </li>
    <li>
        To remove employee click on X next to employee in list
    </li>
</ol>
<p>Note: This modal will show only first time loading the web application</p>
<button mat-button (click)="closeDialog()">Close</button>