<div class="wrapper">
    <div class="position-of-button">
        <app-toggle-button class="toggle-button" (toggle)="toggleLeftSideBar()"></app-toggle-button>
    </div>
    <div class="container" [class.slide-out]="!isLeftSideBarOpen" [class.slide-in]="isLeftSideBarOpen">
        <div class="header">
            <h1><span class="header__v">V</span></h1>
        </div>
        <p class="employee">Name and surname</p>
        <app-left-side-bar-employee-input [placeholderText]="'Enter employee name and surname....'"></app-left-side-bar-employee-input>
        <app-left-side-bar-submit-name-btn></app-left-side-bar-submit-name-btn>
        <app-left-side-bar-employee-list></app-left-side-bar-employee-list>
    </div>
</div>