

.header {
    background-color: var(--main-panel-header-bg);
    text-align: center;
    padding: 1rem;
    width: auto;
    margin-bottom: 2rem;
    span {
        color: red;
        font-size: 2rem;
    }
}

.container {
    background-color: var(--main-panel-bg);
    color:  white;
    height: 100vh;
    width: 300px;
    text-align: center;
    border-right: 2px solid var(--main-panel-header-bg);
}

.employee {
    font-size: 2rem;
    font-weight: 800;
}

.name-of-employees {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.container {
    overflow: auto;
}


.slide-out {
  transform: translateX(-100%);
  transition: transform 1s;
  width: 0;
}

.slide-in {
  transform: translateX(0%);
  transition: transform 0.3s;
  width: auto;
}