.main-form-wrapper {
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
}

.rigth-side {
    padding: 0;
    p {
        margin-bottom: 15px;
    }
    width: 46%;
}

.titles {
    padding-left: 2rem;
}

.values {
    padding-left: 1rem;
}

input {
    background-color: var(--main-panel-input-bg);
    color: white;
    border: 2px solid var(--main-panel-input-border);
    transition: border-color 0.3s;
    width: 80%;
}

input:focus {
    border-color: var(--main-panel-input-border);
    outline: none;
}

textarea {
    @extend input;
}

.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    button {
        width: 100%;
    }
}

.save {
    width: 50%;
    margin-right: 2rem;
    button {
        background-color: #255F67;
        border: none;
        padding: 0.5rem;
        color: white;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
            background-color: #349DA2;
        }
    }
}

.address {
    margin-bottom: 17px;
}

.type-of-vacation {
    margin-top: 2rem;
    color: #fff;
    border: 0.2px solid var(--main-panel-input-border);
    p {
        padding: 1rem 0 1rem 1rem;
        background-color: var(--main-panel-input-border);
        width: 20%;
        text-wrap: wrap;
    }
}

.add-type-and-reason {
    display: flex;
    width: 100%;
    justify-content: center;
    button {
        width: 50%;
        margin-top: 1rem;
        background-color: #255F67;
        border: none;
        padding: 0.5rem;
        color: white;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
            background-color: #349DA2;
        }
    }
}

.set-columns {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;
    padding: 1rem;
    input {
        width: 99%;
        padding: 0.3rem;
    }
    p {
        color: #fff;
        text-align: center;
    }
}

.m-top {
    margin-top: 2rem;
}