<div *ngIf="checkIfDefined()" >
    <div class="main-form-wrapper">
        <div class="left-side">
            <div class="titles">
                <p><strong>Name:</strong></p>
                <br>
                <p><strong>Address:</strong></p>
                <br>
                <p><strong>Date Of Birth:</strong></p>
                <br>
                <p><strong>Number of vacation days: </strong></p>
                <br>
                <p><strong>Company:</strong></p>
            </div>
            <div class="values">
            <p>{{ employee.name }}</p>
            <br>
            <input type="text" class="address" value="Enter address..." [(ngModel)]="employee.address">
            <br>
            <input type="date" [(ngModel)]="employee.dateOfBirth">
            <p></p>
            <br>
            <input type="number" class="address" [(ngModel)]="employee.numberOfVacationDays">
            <p></p>
            <input type="text" class="address" value="Enter company.." [(ngModel)]="employee.company">
            </div>
        </div>
        <div class="rigth-side">
            <p><strong>Number of taken days:</strong>0</p>
            <p><strong>Comment:</strong></p>
            <input type="text" class="address" placeholder="Enter comment...">
            <p></p>
            <p><strong>Days left:</strong> 0</p>
        </div>
    </div>
    <div class="button-wrapper">
        <div class="save">
            <button>Save</button>
        </div>
    </div>
    <div>
        <div class="type-of-vacation">
            <p>Reasons for absence</p>
        </div>
        
        <div *ngIf="checkIfDefined()">
            <div class="button-wrapper">
              <div class="save m-top">
                <button (click)="addTypeAndReason()">
                  Click to add date from, to and reason
                </button>
              </div>
            </div>
          
            <div class="set-columns">
              <div><p>From:</p></div>
              <div><p>To:</p></div>
              <div><p>Type:</p></div>
            </div>
          
            <div *ngIf="checkIfDefined()">
              <div *ngFor="let reason of reasonsArray">
                <div class="set-columns">
                  <div>
                    <input type="date" [(ngModel)]="reason.from">
                  </div>
                  <div>
                    <input type="date" [(ngModel)]="reason.to">
                  </div>
                  <div>
                    <input type="text" placeholder="Type..." [(ngModel)]="reason.type">
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>