
li {
    text-align: left;
    padding: 0.5rem;
    background-color: var(--main-panel-bg);
    transition: 0.5s;
    font-size: 1.2rem;
    margin-left: 18px;
    margin-top: 15px;
    list-style-type: none;
    border-top: 1px solid rgba(2, 7, 8, 0);
    border-bottom: 1px solid rgb(59, 58, 58);
    word-wrap: break-word;
    width: 80%;
    display: flex;
    justify-content: space-between;
    &:hover {
        cursor: pointer;
        background-color: var(--main-panel-header-bg);
        border-left: 5px solid green;
    }
    span {
        color: red;
        display: flex;
        width: auto;
        align-items: center;
        justify-content: right;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
            color: lighten($color: red, $amount: 15%);
        }
    }
}

.active {
    color: red;
}

.closed {
    display: none;
  }

  input {
    background-color: var(--main-panel-input-bg);
    color: white;
    border: 2px solid var(--main-panel-input-border);
    transition: border-color 0.3s;
    margin-top: 1rem;
    width: 80%;
    padding: 0.5rem;
    text-align: center;
}

input:focus {
    border-color: var(--main-panel-input-border);
    outline: none;
}

p {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.removed {
    background-color: darken($color: red, $amount: 30%)
  }

.checked {
    background-color: inherit;
    color: lightgreen
}

.removed-bg {
    background-color: darken($color: red, $amount: 30%)
}

.checked-bg {
    color: darkred;
}

.filter {
    margin-top: 0.8rem;
}

.active-employees {
    background-color: var(--main-panel-header-bg);
    color: white;
    border: none;
    transition: 0.5s;
    padding: 0.5rem;
    font-size: 0.85rem;
    margin-right: 0.3rem;
    &:hover {
        cursor: pointer;
        background-color: #349DA2;
        transition: 0.5s;
    }
}

.non-active-employees {
    background-color: darkred;
    color: white;
    border: none;
    transition: 0.5s;
    padding: 0.5rem;
    font-size: 0.85rem;
    &:hover {
        cursor: pointer;
        background-color: lighten($color: darkred, $amount: 15%);
        transition: 0.5s;
    }
}

.show-all {
    @extend .active-employees;
    margin-top: 0.5rem;
    width: 50%;
}